html {
	background: #6c7989;
}

body {
	padding: 50px 0;
	margin: 0;
	font: lem/1.5 "Droid Serif", Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #555;
	font-weight: 300;
}

.wrapper {
	min-height: 400px;
	width: 1024px;
	margin: 0 auto;
	background: #dedede;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

#header {
	-webkit-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
}

article img {
	max-width: 98%;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 5px;
	background: #fff;
	-webkit-box-shadow: 0 0 8px #aaa;
	box-shadow: 0 0 8px #aaa;
}

a {
	color: #069;
	text-decoration: none;
}

html {
	background: #6c7989;
	background: #6c7989 -webkit-linear-gradient(#6c7989,#434b55) fixed;
	overflow: hidden;
	text-align: center;
}

.footer {
	border-bottom: 1px solid #aaa;
	padding: 20px;
}

article header .title {
	font-size: 1.5em;
	font-weight: normal;
	line-height: 1.2;
	margin: 0;
	padding: 0;
	text-shadow: rgba(255, 255, 255, 0.9) 0 1px 0;
}