html {
	background: #6c7989;
}

body {
	padding: 50px 0;
	margin: 0;
	font: lem/1.5 "Droid Serif", Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #555;
	font-weight: 300;
}

.wrapper {
	min-height: 400px;
	width: 1024px;
	margin: 0 auto;
	background: #dedede;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

#header {
	-webkit-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
}